.titulo__mano{
    text-align: center;
    font-size: 35px;
    font-family: 'Black Han Sans', sans-serif;
    margin: 50px 0;
}

.galeria__libros{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 1fr);
    padding: 15px;
    gap: 70px;
    justify-content: center;

    .libros__mano{
        margin: 15px 20px;

        &:nth-child(7){
            grid-column: 2 / 3;
        }

        &:hover{
            cursor: pointer;
            border: 1px solid transparent;
        }

        .img__libros{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 3px solid #333;
        }

        .titulo__libro{
            color: white;
            background: #333;
            font-size: 20px;
            width: 100%;
            padding: 10px;
            height: 50px;
            text-align: center;
        }
        
    }
}

.descripcion{
    margin: 100px 0;

    .titulo__serie{
        text-align: center;
        font-size: 30px;
        margin: 50px 0;
        font-family: 'Black Han Sans', sans-serif;
    }

    .parrafos{
        border: 5px double #333;
        margin: 40px;
    }

    .coleccion__completa{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 120px;

        .serie__libros{
            width: 40%;
            height: 40%;
            object-fit: cover;

            &:hover{
                border: 3px solid transparent;
                cursor: pointer;
            }
        }
    }
}

.container__fluid{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .btn{
        margin: 50px 0;
        background-color: #333;
        border: none;
        padding: 10px 20px;

        &:hover{
            background-color: #1a2537;
        }
    }
}




