nav{
    background-color: black;
    height: 80px;
    width: 100%;

    #check{
        display: none;
    }

    .checkbtn{
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    .enlace{
        position: absolute;
        padding: 20px 50px;

        .logo{
            height: 40px;
        }
    }

    ul{
        list-style-type: none;
        float: right;
        margin-right: 20px;

        li{
            display: inline-block;
            line-height: 62px;
            margin-right: 40px;

            a{
                color: white;
                text-decoration: none;
                font-size: 18px;
                padding: 7px 13px;
                border-radius: 5px;
                text-transform: uppercase;

                &:hover{
                    background-color: #333;
                    color: white;
                    padding: 10px 10px;
                }
            }
        }
    }
}















