p{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: start;
    line-height: 30px;
    letter-spacing: 5px;
    word-spacing: 10px;
    margin: 30px;
}