.formulario{
    background-color: white;
    margin-top: 150px;
    padding: 3px;

    h1{
        text-align: center;
        color: #1a2537;
        font-family: 'Black Han Sans', sans-serif;
        font-size: 40px;
    }

    .contenedor__divs{
        width: 100%;
        padding: 15px;

        .contenedor__input{
            margin-bottom: 15px;
            border: 1px solid #aaa;

            .icon{
                min-width: 50px;
                text-align: center;
                color: #999;
            }

            .text, .email, .password{
                font-size: 20px;
                width: 82%;
                padding: 10px;
                border: none;
            }
        }

        .button{
            border: none;
            width: 100%;
            color: white;
            font-size: 20px;
            background-color: #1a2537;
            padding: 15px 20px;
            border-radius: 5px;
            cursor: pointer;

            &:hover{
                background-color: cadetblue;
            }
        }

        .parrafo__input{
            text-align: center;

            .link{
                text-decoration: none;
                color: #1a2537;
                font-weight: 600;
            }
        }
    }
}





























