@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital@0;1&display=swap');

/*------------------------------RESETEO-----------------------------------*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*------------------------------NAV BAR-----------------------------------*/


nav ul{
    list-style-type: none;
}

.links__nav{
    text-decoration: none;
}

nav{
    background-color: black;
    height: 80px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

.logo{
    height: 40px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin-right: 40px;
}

nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;

}

nav ul li a:hover{
    background-color: #333;
    color: white;
    padding: 10px 10px;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.fondo__inicio{
    background: url(../images/fondoinicio.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

p{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: start;
    line-height: 30px;
    letter-spacing: 5px;
    word-spacing: 10px;
    margin: 30px;
}

footer{
    background-color: black;
    height: 20vh;
    margin-top: 150px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: 20vh;
}

.img__footer{
    width: 50px;
    height: 50px;
}

.logo-footer a img:hover{
    border: 2px solid darkgrey;
    border-radius: 15px;
}


/* ---------------------------------PRODUCTOS-------------------------------------------------*/

.titulo__mano{
    text-align: center;
    font-size: 35px;
    margin: 50px 0;
}

.titulo__serie{
    text-align: center;
    font-size: 30px;
    margin: 50px 0;
}

.boton__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container__fluid{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn{
    margin: 50px 0;
    background-color: #333;
    border: none;
    padding: 10px 20px;
}

.btn:hover{
    background-color: #1a2537;
}

/*-----------------------------GALERIA GRID-------------------------------------*/

.galeria__libros{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 500px);
    padding: 20px;
    gap: 60px;
    justify-content: center;
}


.libros__mano:hover{
    cursor: pointer;
    border: 1px solid transparent;
}

.img__libros{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid #333;
}

.titulo__libro{
    color: white;
    background: #333;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    height: 50px;
    text-align: center;
}


.libros__mano:nth-child(7){
    grid-column: 2 / 3;
}


/*----------------------------FLEX ----------------------------------------*/

.coleccion__completa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.parrafos{
    border: 5px double #333;
    margin: 40px;
}

.serie__libros{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 50px;
}

.serie__libros:hover{
    border: 3px solid transparent;
    cursor: pointer;
}

/*---------------------------------------------NOSOTROS------------------------------------*/

.container__pf{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
}

.container__pf h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 35px;
}

.acordeon{
    background-color: white;
}

.acordeon label {
    display: block;
    padding: 20px;
    font-size: 20px;
    background-color: #1c1c1c;
    color: white;
    cursor: pointer;
    margin-bottom: 2px;
}

.acordeon label:hover{
    background-color: #2e2e2e;
}

.acordeon .contenido__acordeon{
    padding: 0;
    margin: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}

.btn__acordeon:checked ~ .contenido__acordeon{
    max-height: 600px;
    padding: 15px 0;
}

.btn__acordeon{
    display: none;
}

/*------------------------------------CONTACTO-------------------------------------------------*/


.body__contacto{
    background: url(../images/fondocont.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container__contacto .form{
    width: 90%;
    background-color: #1c1c1c;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 50px;
    padding-bottom: 30px;
    border-radius: 5px;
}

.container__contacto .form .header__form .titulo__form{
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 0;
}

.container__contacto .form .label__form{
    display: block;
    color: white;
    font-size: 16px;
}

.container__contacto .form .input__form, .textarea__form{
    background-color: #2e2e2e;
    border: none;
    border-bottom: 2px solid #999;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: white;
    font-family: 'Lato', sans-serif;
}

.container__contacto .form .textarea__form{
    max-height: 150px;
    min-height: 50px;
}

.container__contacto .form .btn__submit{
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #999;
    font-size: 16px;
    color: white;
    padding: 15px 0;
    cursor: pointer;
    border: none;
    transition: all .5s ease;
}

.container__contacto .form .btn__submit:hover{
    background-color: #aaa;
}

/*------------------------------------LOG IN / REGISTER----------------------------------------*/

.body__login{
    background: url(../images/fondodos.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.contenedor__form{
    width: 100%;
    padding: 15px;
}

.formulario{
    background-color: white;
    margin-top: 15;
    padding: 3px;
}

.formulario h1{
    text-align: center;
    font-size: 40px;
    color: #1a2537;
}

.text, .password, .email{
    font-size: 20px;
    width: 80%;
    padding: 10px;
    border: none;
}

.contenedor__input{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: cadetblue;
}

.parrafo__input{
    text-align: center;
}

.link{
    text-decoration: none;
    color: #1a2537;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.link:hover{
    color: cadetblue;
}



/*-------------------------------RESPONSIVE INICIO------------------------------------*/

@media (max-width:900px){

    .enlace{
        padding-left: 20px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width:800px){

    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #333;
        top: 80px;
        left: 100%;
        text-align: center;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    nav ul li a:hover{
        background-color: #1a2537;
        padding: 10px 15px;
    }

    #check:checked ~ ul {
        left: 0;
    }
}


/*-----------------------------------RESPONSIVE PRODUCTOS----------------------------------*/

@media (max-width:900px){
    .galeria__libros{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}


@media(max-width:800px){
    .titulo__mano{
        font-size: 30px;
    }

    .galeria__libros{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 20px;
    }

    .libros__mano:nth-child(7){
        grid-column: 1 / 2;
    }

    .coleccion__completa{
        flex-direction: column;
    }

    .serie__libros{
        width: 80%;
        height: 80%;
    }

}

/*-------------------------------------RESPONSIVE LOG IN---------------------------------*/


@media(min-width:768px){

    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}



