@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Lato:ital@0;1&family=Paytone+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
  height: 80px;
  width: 100%;
}
nav #check {
  display: none;
}
nav .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
nav .enlace {
  position: absolute;
  padding: 20px 50px;
}
nav .enlace .logo {
  height: 40px;
}
nav ul {
  list-style-type: none;
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin-right: 40px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 5px;
  text-transform: uppercase;
}
nav ul li a:hover {
  background-color: #333;
  color: white;
  padding: 10px 10px;
}

.fondo__inicio {
  background: url(../images/fondoinicio.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

footer {
  background-color: black;
  height: 20vh;
  margin-top: 150px;
}
footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  line-height: 20vh;
}
footer .container .img__footer {
  width: 50px;
  height: 50px;
}
footer .container .img__footer:hover {
  border: 2px solid darkgrey;
  border-radius: 15px;
}

p {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: black;
  text-align: start;
  line-height: 30px;
  letter-spacing: 5px;
  word-spacing: 10px;
  margin: 30px;
}

.titulo__mano {
  text-align: center;
  font-size: 35px;
  font-family: "Black Han Sans", sans-serif;
  margin: 50px 0;
}

.galeria__libros {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 1fr);
  padding: 15px;
  gap: 70px;
  justify-content: center;
}
.galeria__libros .libros__mano {
  margin: 15px 20px;
}
.galeria__libros .libros__mano:nth-child(7) {
  grid-column: 2/3;
}
.galeria__libros .libros__mano:hover {
  cursor: pointer;
  border: 1px solid transparent;
}
.galeria__libros .libros__mano .img__libros {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #333;
}
.galeria__libros .libros__mano .titulo__libro {
  color: white;
  background: #333;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  height: 50px;
  text-align: center;
}

.descripcion {
  margin: 100px 0;
}
.descripcion .titulo__serie {
  text-align: center;
  font-size: 30px;
  margin: 50px 0;
  font-family: "Black Han Sans", sans-serif;
}
.descripcion .parrafos {
  border: 5px double #333;
  margin: 40px;
}
.descripcion .coleccion__completa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 120px;
}
.descripcion .coleccion__completa .serie__libros {
  width: 40%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}
.descripcion .coleccion__completa .serie__libros:hover {
  border: 3px solid transparent;
  cursor: pointer;
}

.container__fluid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container__fluid .btn {
  margin: 50px 0;
  background-color: #333;
  border: none;
  padding: 10px 20px;
}
.container__fluid .btn:hover {
  background-color: #1a2537;
}

.container__pf {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 80px;
}
.container__pf h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 35px;
  font-family: "Black Han Sans", sans-serif;
}
.container__pf .acordeon {
  background-color: white;
}
.container__pf .acordeon .btn__acordeon {
  display: none;
}
.container__pf .acordeon .btn__acordeon:checked ~ .contenido__acordeon {
  max-height: 600px;
  padding: 15px 0;
}
.container__pf .acordeon label {
  display: block;
  padding: 20px;
  font-size: 20px;
  background-color: #1c1c1c;
  color: white;
  cursor: pointer;
  margin-bottom: 2px;
}
.container__pf .acordeon label:hover {
  background-color: #2e2e2e;
}
.container__pf .acordeon .contenido__acordeon {
  padding: 0;
  margin: 0 20px;
  max-height: 0px;
  overflow: hidden;
  transition: all 300ms ease;
}

.body__contacto {
  background: url(../images/fondocont.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container__contacto .form {
  width: 90%;
  background-color: #1c1c1c;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 50px;
  padding-bottom: 30px;
  border-radius: 5px;
}
.container__contacto .form .header__form .titulo__form {
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-family: "Black Han Sans", sans-serif;
  padding: 14px 0;
}
.container__contacto .form .label__form {
  display: block;
  color: white;
  font-size: 16px;
}
.container__contacto .form .input__form, .container__contacto .form .textarea__form {
  background-color: #2e2e2e;
  border: none;
  border-bottom: 2px solid #999;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: white;
  font-family: "Lato", sans-serif;
  max-height: 150px;
  min-height: 50px;
}
.container__contacto .form .btn__submit {
  width: 100%;
  font-family: "Lato", sans-serif;
  background-color: #999;
  font-size: 16px;
  color: white;
  padding: 15px 0;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;
}
.container__contacto .form .btn__submit:hover {
  background-color: #aaa;
}

.formulario {
  background-color: white;
  margin-top: 150px;
  padding: 3px;
}
.formulario h1 {
  text-align: center;
  color: #1a2537;
  font-family: "Black Han Sans", sans-serif;
  font-size: 40px;
}
.formulario .contenedor__divs {
  width: 100%;
  padding: 15px;
}
.formulario .contenedor__divs .contenedor__input {
  margin-bottom: 15px;
  border: 1px solid #aaa;
}
.formulario .contenedor__divs .contenedor__input .icon {
  min-width: 50px;
  text-align: center;
  color: #999;
}
.formulario .contenedor__divs .contenedor__input .text, .formulario .contenedor__divs .contenedor__input .email, .formulario .contenedor__divs .contenedor__input .password {
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none;
}
.formulario .contenedor__divs .button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background-color: #1a2537;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.formulario .contenedor__divs .button:hover {
  background-color: cadetblue;
}
.formulario .contenedor__divs .parrafo__input {
  text-align: center;
}
.formulario .contenedor__divs .parrafo__input .link {
  text-decoration: none;
  color: #1a2537;
  font-weight: 600;
}

.body__login {
  background: url(../images/fondodos.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/*----------------------------------------------------------RESPONSIVE INICIO-----------------------------------------------------*/
@media (max-width: 900px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  nav #check:checked ~ ul {
    left: 0;
  }
  nav .checkbtn {
    display: block;
  }
  nav .enlace {
    padding-left: 60px;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #333;
    top: 80px;
    left: 100%;
    text-align: center;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul li a:hover {
    background-color: #1a2537;
    padding: 10px 15px;
  }
}
/*-----------------------------------RESPONSIVE PRODUCTOS----------------------------------*/
@media screen and (max-width: 1100px) {
  .galeria__libros {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 500px;
    gap: 100px;
  }
  .galeria__libros .libros__mano:nth-child(7) {
    grid-column: 1/2;
  }
  .descripcion {
    margin: 90px 0;
  }
  .descripcion .coleccion__completa {
    flex-direction: column;
    align-items: center;
  }
  .descripcion .coleccion__completa .serie__libros {
    width: 50%;
    margin-top: 90px;
  }
}
@media screen and (max-width: 900px) {
  .galeria__libros {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 500px;
    gap: 100px;
  }
  .galeria__libros .libros__mano:nth-child(7) {
    grid-column: 1/2;
  }
  .serie__libros {
    width: 400px;
    margin: 40px 20px;
  }
}
@media screen and (max-width: 800px) {
  .titulo__mano {
    font-size: 40px;
  }
  .galeria__libros {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 1fr;
    gap: 90px;
  }
  .galeria__libros .libros__mano:nth-child(7) {
    grid-column: 1/2;
  }
  .titulo__serie {
    font-size: 40px;
    margin-top: 150px;
  }
  .parrafos {
    border: 7px double #333;
    font-size: 24px;
  }
  .coleccion__completa {
    flex-direction: column;
    align-items: center;
  }
  .coleccion__completa .serie__libros {
    width: 60%;
  }
  .btn {
    padding: 30px 70px;
  }
}
@media (max-width: 767px) {
  .titulo__mano {
    font-size: 30px;
  }
  .galeria__libros {
    grid-template-columns: 350px;
    gap: 120px;
  }
  .titulo__serie {
    font-size: 30px;
  }
  .serie__libros {
    width: 75%;
  }
  .btn {
    padding: 20px 70px;
  }
}
@media (max-width: 390px) {
  .titulo__mano {
    font-size: 30px;
  }
  .galeria__libros {
    grid-template-columns: 300px;
  }
  .titulo__serie {
    font-size: 25px;
  }
  .btn {
    padding: 20px 60px;
  }
}
/*-------------------------------------RESPONSIVE NOSOTROS-------------------------------*/
@media (max-width: 900px) {
  .container__pf {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .container__pf {
    width: 85%;
    font-size: 30px;
  }
}
@media (max-width: 390px) {
  .container__pf {
    width: 90%;
  }
  .container__pf .container__pf h1 {
    font-size: 25px;
    font-weight: bold;
  }
  .container__pf .container__pf h1 .acordeon label {
    font-size: 15px;
  }
  .container__pf .container__pf h1 .contenido__acordeon p {
    font-size: 13px;
  }
}
/*-------------------------------------RESPONSIVE LOG IN---------------------------------*/
@media (min-width: 768px) {
  .formulario {
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
  }
}
@media (max-width: 767px) {
  .formulario {
    margin: auto;
    width: 380px;
    margin-top: 150px;
    border-radius: 3%;
  }
  .formulario h1 {
    font-size: 25px;
  }
  .formulario h1 .text, .formulario h1 .password, .formulario h1 .email {
    font-size: 16px;
    width: 60%;
  }
  .formulario .button {
    padding: 10px 15px;
  }
  .formulario .parrafo__input {
    font-size: 16px;
  }
}
@media (max-width: 390px) {
  .formulario {
    width: 350px;
  }
}/*# sourceMappingURL=sass.css.map */